*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
.theme_button a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    text-decoration: none;
    background-color: #2094E6;
    color: #ffffff;
    font-family: "work-sans", sans-serif;
    font-size: 16px;


    
}
.theme_button a:hover{
    background-color: #033d67;
    color: #2094E6;
}
.main_header{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    padding: 20px 0px;
    top:0;
    left: 0;
    z-index: 3;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.container{
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_right_content{
    display: flex;
    align-items: center;
}
.header_right_content nav{
    margin-right: 82px;
}

.header_right_content nav ul{
    list-style:none;
    display:flex;
    align-items: center;
    gap: 50px;
    

} 
.header_right_content nav ul li a {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: "work-sans", sans-serif;
    text-decoration: none;
}
.header_right_content nav ul li a:hover{
    background-color: #033d67;
    color: #2094E6;

}
.hero {
    display: flex;
    align-items: center;

    min-height: 660px;

}
figure{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
figure img {
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hero_content{
    max-width: 592px;
    margin-left:0px;
    color: #ffffff;
    z-index: 3;
}
h1{
    font-size: 60px;
    font-family:"playfair display", sans-serif;
    font-weight: 600;
    margin-bottom: 24px;
    line-height:66px ;
}
p{
   font-size: 18px;
   font-family: "work sans", sans-serif;
   margin-bottom: 24px;
   line-height: 27px;
}
.hero::before{
    content: "";
    display: block;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.waterfall {
    max-width: 577px;
    max-height: 425px;
    margin:0 auto;
    border:2px solid #E3DEC1;
    
}
.mountains{
    max-width: 386px;
    max-height: 263px;
    margin-left:280px ;
    position:absolute;
    z-index: 1;
    margin:283px 653px 0px 401px;
}
.explore {
    max-width: 486px;
    max-height: 385px;
    gap:20px;
    margin: 30px 113px 131px 841px ;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.about_us{
    margin-top: 166px;
    display: flex;
    align-items: center;
    
}


h2{
    font-family: "Playfair Display", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #2094E6;
    line-height: 24px;
}
h3{
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
    color: #121212;
}
.explore_line{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}